<!-- <div class="User-registration">
  <h1>
    Bem vindo ao formulário da AMOAVE
  </h1>
</div>


<h1>List of Mozambican</h1>
<%= link_to 'Download as .xlsx', users_path(format: :xlsx) %>



 -->

  <head>
     <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>


<h1>Página em actualização</h1>


<div class="row ">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="show-card">
      <div class="content-background">
        <div class="btn-back">
        <%= link_to "VOLTAR A PÁGINA INICIAL", root_path, class: 'btn btn-outline-warning'%>
        </div>
      </div>
    </div>
  </div>
</div>



