<footer class="ftco-footer ftco-section bg-info text-info">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Informação</h2>
          <ul class="list-unstyled">
            <li><a href="/pages/contacto.htmls" class="py-2 d-block">Contactos</a></li>
            <li><a href="#" class="py-2 d-block">Bolsas de Estudos</a></li>
            <li><a href="#" class="py-2 d-block">Oportunidades</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
         <div class="ftco-footer-widget">
          <h2 class="ftco-heading-2">Links</h2>
          <ul class="list-unstyled">
             <li class="nav-item"><%= link_to "AMOAVE", pages_amoave_path, class: 'nav-link'%> </li>
            <li><a href="/pages/estudantes.html" class="py-2 d-block">Estudantes</a></li>
            <li><a href="/pages/comunidade.html" class="py-2 d-block">Comunidade</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Alguma Questão?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Aveiro, Portugal</span></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">amoavemoz@gmail.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 ml-5">SEGUE-NOS</h2>
          <!-- <p>Associação dos Moçambicanos em Aveiro</p> -->
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-0 justify-content-end">
            <li class="ftco-animate"><a href="https://twitter.com"><span class="fab fa-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://www.facebook.com/Amoave-109354353990110/"><span class="fab fa-facebook-f"></span></a></li>
            <li class="ftco-animate"><a href="https://www.instagram.com/amoavemozamque"><span class="fab fa-instagram"></span></a></li>
          </ul>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          Copyright ©2019 All Rights Reserved | AMOAVE <i class="fas fa-heart" style="color:#BC1421"></i>
        </p>
      </div>
    </div>
  </div>
</footer>
