<h1>Pages#comunidade</h1>
<p>Find me in app/views/pages/comunidade.html.erb</p>



<div class="row ">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="show-card">
      <div class="content-background">
        <div class="btn-back">
        <%= link_to "BACK TO HOME", root_path, class: 'btn btn-outline-warning'%>
        </div>
      </div>
    </div>
  </div>
</div>
