<head>
  <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>


 <div class="container second-portion my-auto">
  <div class="row">
        <!-- Boxes de Acoes -->
      <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fas fa-sitemap" aria-hidden="true"></i></div>
          <div class="info">
            <br>
            <h3 class="title" >REDES SOCIAIS</h3>
              <div class="ftco-footer-widget mb-4 d-flex justify-content-around">
               <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                 <li class="ftco-animate"><a href="https://twitter.com"><span class="fab fa-twitter"></span></a></li>
                 <li class="ftco-animate"><a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a></li>
                 <li class="ftco-animate"><a href="https://www.instagram.com"><span class="fab fa-instagram"></span></a></li>
               </ul>
                </div>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>



        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
          <div class="info">
            <br>
            <h3 class="title">TELEFONE E EMAIL</h3>
              <p>
              <i class="fas fa-phone" aria-hidden="true"></i> &nbsp (+351)-932281760
              <br>
              <br>
              <br>
              <br>
              <i class="fa fa-at" aria-hidden="true"></i> &nbsp  amoavemoz@gmail.com
            </p>
            <br>

          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>




        <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="box">
        <div class="icon">
          <div class="image"><i class="fasfa-map-marker-alt" aria-hidden="true"></i></div>
          <div class="info">
            <br>
            <h3 class="title">ENDEREÇO</h3>
              <p>
               <i class="fa fa-facebook-f" aria-hidden="true"></i> &nbsp Rua Dr. Mário Sacramento nº 53 AP. 302 3810-104 Aveiro, Portugal
            </p>
            <br>
            <br>
            <br>
          </div>
        </div>
        <div class="space"></div>
      </div>
    </div>
    <!-- /Boxes de Acoes -->







  </div>
</div>


<div class="row ">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="show-card">
      <div class="content-background">
        <div class="btn-back">
        <%= link_to "VOLTAR A PÁGINA INICIAL", root_path, class: 'btn btn-outline-warning'%>
        </div>
      </div>
    </div>
  </div>
</div>
