


<h1>Pages#estudantes</h1>
<p>Find me in app/views/pages/estudantes.html.erb</p>


<div class="container">
  <div class="card-product-profile">
    <img src="http://res.cloudinary.com/veronicabraga/image/upload/v1568390553/thsjurxxmi0y9mfey3db.jpg" />
      <div class="card_product_profile_infos">
      <h2>PhD of ICT</h2>
      <p>Application start: 2020-09-23</p>
      <p>Deadline: 2020-11-22</p>
      </div>

      <div class="icon" id="icon-trash-fav">
        <a rel="nofollow" data-method="delete" href="/favorites/211">
        <i class="fas fa-trash-alt"></i></a>
      </div>
        <a class="card-profile-link" href="/scholarships/413"></a>
    </div>

  <div class="card-product-profile">
    <img src="http://res.cloudinary.com/veronicabraga/image/upload/v1568390553/opu69attorpo8nzqh76w.jpg" />
    <div class="card_product_profile_infos">
      <h2>PhD of ICT</h2>
      <p>Application start: 2021-02-25</p>
      <p>Deadline: 2021-04-26</p>
    </div>

    <div class="icon" id="icon-trash-fav">
      <a rel="nofollow" data-method="delete" href="/favorites/209">
        <i class="fas fa-trash-alt"></i></a>
      </div>
    <a class="card-profile-link" href="/scholarships/401"></a>
  </div>
</div>
