  <head>
     <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>
<br>

<div class="container text-justify">
  <div class="card">
    <img class="card-img-top" src="https://s3-eu-central-1.amazonaws.com/content.gulbenkian.pt/wp-content/uploads/2017/01/29200114/logo_fundacao_pt.png" alt="Card image cap">

<br>
    <div class="card-body">
    <h2><b>Bolsas de pós-graduação para estudantes de PALOP e de Timor Leste</b></h2>
    <b>Fundação Calouste Gulbenkian</b>
    <h4>Data de candidatura:01-30 de abril de 2020 </h4>

      <p class="font-weight-normal">
      A atribuição destas bolsas pretende estimular a investigação e a valorização dos recursos humanos, a nacionais dos Estados Africanos de Língua Portuguesa e de Timor Leste, que nestes países exerçam a sua atividade e que pretendam prosseguir e atualizar os seus conhecimentos <b>em Portugal</b>.

      <br>
      <br>

      <b>Duração</b>
      <br>
      As bolsas serão atribuídas de acordo com a seguinte metodologia: por períodos de 12 (doze) meses no 1º ano curricular seguindo-se, caso o bolseiro esteja em condições de renovação, um período máximo de 3 meses em Portugal, até uma duração máxima de 2 (dois) anos para o mestrado e 4 (quatro) anos para o programa doutoral. A duração máxima referida terá em linha de conta os números de anos já realizados em termos de formação para o grau a que é apresentada a candidatura a bolsa.

      <br>
      <br>

      <b>Condições de elegibilidade</b>
      <br>

      As bolsas de pós-graduação destinam-se a estudantes nacionais dos PALOP e Timor Leste.

      A idade limite para apresentação das candidaturas a bolsa de estudo é de 45 anos.

      Só são aceites candidaturas online.

      Não são consideradas candidaturas para Mestrado Integrado, Licenciatura incompleta à data do Concurso, bem como ensino à distância.

      A Fundação Gulbenkian reserva-se o direito de fixar, em cada ano, o número de bolsas a atribuir e de limitar a respetiva concessão a determinadas áreas de formação.s

      No caso de 2020 as <b>áreas de formação</b> a serem abrangidas são exclusivamente as seguintes:
      <ul>
        <b>
        <li>Ciências Exatas</li>
        <li>Ciências da Saúde</li>
        <li>Língua Portuguesa</li>
        <li>Tecnologias de Informação e Comunicação (aplicadas à Educação)</li>
        </b>
      </ul>
</p>
      <b>Como concorrer</b>
      <br>
      <p class="font-weight-normal"> Antes de iniciar o preenchimento do Formulário recomendamos uma leitura atenta ao Regulamento e às Perguntas Frequentes.
      Para obter o Formulário terá de se registar para criar uma conta (em cima à direita). Se já tem conta faça Login.
      Preencha o Formulário. Para acompanhar futuramente o seu processo guarde os dados de Login junto da candidatura.
      A candidatura só será aceite depois de preencher o Formulário, fazer o upload da documentação obrigatória exigida no Regulamento (Artº 8) e no final clicar no botão “Submeter”.
      De forma a prevenir dificuldades na submissão das candidaturas, evite a candidatura nos últimos dias do prazo.

      <br>
      <br>
      <b>Notas </b>
      <br>
      Os documentos a anexar à candidatura deverão ser em formato PDF ou JPG (até 4 MB) . Os bolseiros serão selecionados através de concurso e a seleção dos candidatos é realizada com base em pareceres de consultores externos. A decisão tomada não é suscetível de recurso.

      O concurso termina impreterivelmente no dia 30 de Abril de 2020 às 17:30 (hora de Lisboa)
      </p>
 </div>
<div class= "container">
  <div>
    <a href="https://gulbenkian.pt/grant/pos-graduacao-palop-e-timor-leste/" class="btn btn-info"><b>Para se candidatar e para mais Informações, clique aqui.</b></a>
  </div>
</div>
</div>
</div>


<br>
<br>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="show-card">
      <div class="content-background">
        <div class="btn-back">
        <%= link_to "VOLTAR A PÁGINA INICIAL", root_path, class: 'fas fa-step-backward btn btn-outline-primary'%>
        </div>
      </div>
    </div>
  </div>
</div>
