
<!-- <div class="video d-flex">
  <div class="row1">
    <%= video_tag "serra.mp4", :size => "800x600", :controls => true, autoplay: :autoplay, loop: :loop, muted: :false, class: "home_video"%>
  </div>
</div> -->




     
<div class="row1">
  <div class="col-8">
    <%= video_tag "serra.mp4", :size => "800x600", :controls => true, autoplay: :autoplay, loop: :loop, muted: :false, class: "home_video"%>
    </div>
  <div class="col-4">
    Os moçambicanos em Aveiro visistarm a Serra da Estrela
  </div>
</div>

